<div>
  <p>
    map works!
  </p>
  <div>
    <button (click)="startSubscription()">start stream</button>
    <button (click)="stopSubscription()">stop stream</button>
    <!-- <button (click)="getHistoricalData('/assets/test/dataset.json')">historical</button> -->
    <button (click)="getHistoricalData('http://localhost:4300/api/bla.json')">outpu01</button>
    <button (click)="getHistoricalData('http://localhost:4300/api/dataset.json')">dataset</button>
  </div>
</div>

<div style="height: 700px;"
     leaflet 
     [leafletOptions]="options"
     [leafletLayers]="layers"
     (leafletMapReady)="onMapReady($event)">
</div>

