<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div class="grid-container">
    <!-- <h1 class="mat-h1">Welcome to the {{ title }}!</h1> -->
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <h1>{{ title }} - A Tool to visualize flooding events detected by a stream-process chain.</h1>
          <!-- <button mat-button [matMenuTriggerFor]="menu">menu</button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu> -->
        </mat-card-title>
      </mat-card-header>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Visualization Options
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card-content class="dashboard-card-content">
            <div>
              <app-slider (onChangeHighlighting)="changeHighlighting($event)" (onChangeSelection)='changeSelection($event)' (onChangeFilename)='changeFilename($event)'></app-slider>
            </div>
          </mat-card-content>

        </mat-expansion-panel>
      </mat-accordion>

      <mat-card-content class="dashboard-card-content">
        <div>
          <app-map [highlight]='highlight' [selection]='stationsSelection' [datasetName]='fileName'></app-map>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

</div>